/* 공통 class */
.disb {
    display:block !important;
}
.disn {
    display:none !important;
}

svg {
	z-index:1;
}
#header {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:0;
    z-index:10;
    h1 {
        position:fixed;
        top:40px;
        left:50px;
        a {
            color:$col_wh;
            font-size:1.333em;
            font-weight:600;
        }
    }
    .nav_wrap {
        display:-webkit-flex;
        display:flex;
        position:fixed;
        top:50%;
        right:-100px;
        transform:translateY(-50%);
        align-items:center;
        perspective:15px;
        transition:all 0.2s cubic-bezier(0.75, 0, 0.85, 1);
        .btn_nav {
            display:inline-block;
            position:relative;
            padding:30px;
            transform:rotateY(-5deg);
            transition:all 0.2s linear;
            i {
                display:inline-block;
                position:absolute;
                width:10px;
                height:10px;
                background:rgba(255, 255, 255, 0.7);
                transition:all 0.5s linear;
                &.sq01 {
                    top:18px;
                    left:18px;
                }
                &.sq02 {
                    top:18px;
                    right:18px;
                }
                &.sq03 {
                    bottom:18px;
                    left:18px;
                }
                &.sq04 {
                    bottom:18px;
                    right:18px;
                }
            }
            &:hover {
                transform:rotateY(0deg);
                i {
                    background:#ffffff;
                }
            }
        }
        nav {
            width:100px;
            padding:0 10px;
            button {
                display:block;
                padding:20px 0;
                color:$col_wh;
                font-size:1.2em;
                transition: all 0.2s linear;
                &:hover {
                    color:$col_99;
                }
            }
        }
        &.active {
            right:0px;
            .btn_nav {
                i {
                    width:15px;
                    height:5px;
                    border-radius:3px;
                    background-color:#ffffff;
                    &.sq01 {
                        top:25px;
                        left:23px;
                        transform:translateY(-50%) rotate(30deg);
                    }
                    &.sq02 {
                        top:25px;
                        right:23px;
                        transform:translateY(-50%) rotate(30deg);
                    }
                    &.sq03 {
                        bottom:25px;
                        left:23px;
                        transform:translateY(-50%) rotate(-30deg);
                    }
                    &.sq04 {
                        bottom:25px;
                        right:23px;
                        transform:translateY(-50%) rotate(-30deg);
                    }
                }
                &:hover {
                    transform:rotateY(-5deg);
                    i {
                        &.sq01 {
                            top:23px;
                            transform:translateY(-50%) rotate(30deg) scale(1.5);
                        }
                        &.sq02 {
                            top:23px;
                            transform:translateY(-50%) rotate(30deg) scale(1.5);
                        }
                        &.sq03 {
                            bottom:24px;
                            transform:translateY(-50%) rotate(-30deg) scale(1.5);
                        }
                        &.sq04 {
                            bottom:24px;
                            transform:translateY(-50%) rotate(-30deg) scale(1.5);
                        }
                    }
                }
            }
            nav {
                padding:0 10px 0 0;
            }
        }
    }
}
#container {position:relative;}
.content {position:relative;}