/* ========== Reset ========== */
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 300;
    src: url('../font/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    src: url('../font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: url('../font/NotoSansKR-Bold.otf') format('opentype');
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.2;
	font-size: 15px;
	font-family: 'NotoSansKR', sans-serif;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {
	color:var(--c333);
	line-height: 1;
	-webkit-transition:color .3 linear;
	transition:color .3 linear;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	color: var(--c333);
	font-family:'NotoSansKR', sans-serif;
	cursor: pointer;
}
a {
	color: var(--c333);
	text-decoration: none;
	opacity:1;
	transition:opacity .2s linear;
}
a:hover,
a:focus {
	opacity:.5;
}
.blind {
	position:absolute;
	top:-9999em;
	left:-9999em;
	z-index:-1;
	font-size:0;
	line-height:0;
}
/* ========== // Reset ========== */

/* ========== Variable ========== */
:root {
	--w100 : 100%;
	--basic-bg : rgba(230, 230, 230, .7);
	--pad : max(50px, 6vmin);
	--bg-gradient : linear-gradient(235deg, #fffcdc, #eeeeee, #e3f2ff, #ffe3e3, #e3ffe3);
	--c999 : #999999;
	--c666 : #666666;
	--c333 : #333333;
	--cccc : #cccccc;
}
/* ========== // Variable ========== */

/* ========== Layout ========== */
body {
	position: relative;
	overflow: hidden;
	scroll-behavior: smooth;
}
.header {
	position:fixed;
	top:calc(var(--pad) * 2);
	left:calc(var(--pad) * 2);
	z-index:20;
}
.header h1 button {
	font-size:3em;
	font-weight:300;
	letter-spacing:-1px;;
}
.header .desc {
	margin-top:1.5vmin;
	color:var(--c666);
	font-weight:300;
}
.header nav {
	margin-top:4vmin;
}
.header nav ul {
	display:flex;
	flex-direction:column;
	row-gap:1.5vmin;
}
.header nav .dot {
	display:none;
}
.header nav .selected .dot {
	display:block;
}
.header nav button {
	position:relative;
	font-size:1em;
	font-weight:700;
	opacity:1;
	transition:opacity .2s linear;
}
.header nav button:hover,
.header nav button:focus {
	opacity:.5;
}
.header nav button:before {
	content:'';
	position:absolute;
	top:-5px;
	left:-5px;
	width:calc(100% + 10px);
	height:calc(100% + 10px);
}
.header nav .selected button {
	display:none;
}
.bg_wrap {
	position:fixed;
	z-index:1;
	top: var(--pad);
	left: var(--pad);
	bottom: var(--pad);
	right: var(--pad);
	overflow:hidden;
	pointer-events:none;
    background: var(--bg-gradient);
    background-size: 600% 600%;
    -webkit-animation: bggradient 20s ease infinite;
    animation: bggradient 20s ease infinite;
	-webkit-transition:background-color .3s linear;
	transition:background-color .3s linear;
	opacity:.3;
}
.bg_wrap:before {
	content:'';
	position:fixed;
	z-index:2;
	top: var(--pad);
	left: var(--pad);
	bottom: var(--pad);
	right: var(--pad);
	overflow:hidden;
	pointer-events:none;
	background-image: repeating-radial-gradient(circle at 17% 32%, #ffffff, #111111 0.00085px);
	background-position: center;
	animation: noise 5s linear infinite;
	mix-blend-mode: color-burn;
	opacity:.7;
}
.mask_box {
	position:fixed;
	top:0;
	left:0;
	z-index:3;
	width:var(--w100);
	height:var(--w100);
	overflow:hidden;
	pointer-events:none;
}
.mask_box .mask_top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--pad);
	z-index: 10;
	background-color: var(--basic-bg);
	-webkit-transition:background-color .3s linear;
	transition:background-color .3s linear;
}
.mask_box .mask_bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: var(--pad);
	z-index: 10;
	background-color: var(--basic-bg);
	-webkit-transition:background-color .3s linear;
	transition:background-color .3s linear;
}
.frame_wrap {
	position:fixed;
	top:var(--pad);
	left:0;
	bottom:var(--pad);
	right:0;
	background:var(--basic-bg);
	-webkit-transition:background-color .3s linear;
	transition:background-color .3s linear;
	mix-blend-mode: color-burn;
}
.frame_wrap .line_box {
	position:fixed;
	z-index:10;
	top:calc(var(--pad) - 1px);
	left:calc(var(--pad) - 1px);
	mix-blend-mode: difference;
}
.frame_wrap .line_box .frame_line {
	position:fixed;
	background-color:#fff;
	opacity:.5;
}
.frame_wrap .line_box .frame_line.line_top {
	top:var(--pad);
	left:var(--pad);
	width:calc(100% - var(--pad)*2);
	height:1px;
}
.frame_wrap .line_box .frame_line.line_right {
	top:var(--pad);
	right:var(--pad);
	width:1px;
	height:calc(100% - var(--pad)*2);
}
.frame_wrap .line_box .frame_line.line_bottom {
	bottom:var(--pad);
	left:var(--pad);
	width:calc(100% - var(--pad)*2);
	height:1px;
}
.frame_wrap .line_box .frame_line.line_left {
	top:var(--pad);
	left:var(--pad);
	width:1px;
	height:calc(100% - var(--pad)*2);
}
.color_mode_wrap {
	position:fixed;
	bottom:var(--pad);
	left:calc(var(--pad) - .15em);
	z-index:20;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
.color_mode_wrap input {
	position:absolute;
	top:-9999px;
	left:-9999px;
	width:1px;
	height:1px;
	font-size:1em;
}
.color_mode_wrap label {
	position:relative;
	font-weight:300;
	margin-right:10px;
	padding-left:18px;
	color:var(--c333);
}
.color_mode_wrap label:before {
	content:'';
	position:absolute;
	top:5px;
	left:0;
	width:10px;
	height:10px;
	border:1px solid var(--c333);
	-webkit-transition:background-color .3s linear, border .3s linear;
	transition:background-color .3s linear, border .3s linear;
}
.color_mode_wrap :checked + label:before {
	background-color:var(--c333);
}
.loading_box {
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	width:100vw;
	height:100vh;
	background-color:var(--c999);
	-webkit-transition:background-color .5s 1s linear;
	transition:background-color .5s 1s linear;
}
.loading_box p {
	position:absolute;
	top:50%;
	left:50%;
	color:var(--c333);
	font-size:2em;
	font-weight:300;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	-webkit-transition:opacity .5s .3s linear;
	transition:opacity .5s .3s linear;
	opacity:1;
}
.loading_box p strong {
	font-size:1em;
	font-weight:700;
	-webkit-transition:opacity .5s linear;
	transition:opacity .5s linear;
	opacity:1;
}
.loading_box.close {
	background-color:transparent;
}
.loading_box.close p {
	opacity:0;
}
.loading_box.close p strong {
	opacity:0;
}
/* ========== // Layout ========== */

/* ========== Basic ========== */
.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index:2;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.content {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition:transform .5s ease-out;
	transition:transform .5s ease-out;
}
/* ========== // Basic ========== */
/* ========== section ========== */
.sec_wrap {
	display:none;
	opacity:0;
}
.sec_wrap.selected_section {
	display:block;
}
.sec_wrap .sec_cont {
	overflow-y:auto;
	max-height:100vh;
	text-align:right;
	scroll-behavior: smooth;
}
.sec_wrap .sec_cont::-webkit-scrollbar{
	display:none;
}

/* Home */
.sec_wrap .home {
	position:absolute;
	right:calc(var(--pad)*2);
	bottom:calc(var(--pad)*2);
	overflow-y:hidden;
	text-align:left;
}
.sec_wrap .home .sec_item {
	display:flex;
	flex-direction:column;
	row-gap:4vmin;
}
.sec_wrap .home .sec_item .home_desc,
.sec_wrap .home .sec_item .home_desc strong {
	display:block;
	line-height:1.8;
	font-size:1.4em;
}

/* Info */
.sec_wrap .info {
	padding: calc(var(--pad)*2 + 139px) calc(var(--pad)*2) calc(var(--pad)*2);
	text-align:right;
}
.sec_wrap .info .idpicture {
	position:absolute;
	left:calc(var(--pad)*2);
	bottom:calc(var(--pad)*2);
}
.sec_wrap .info .idpicture img {
	width:163px;
}
.sec_wrap .info .intro_wrap{
	display:flex;
	flex-direction:column;
	row-gap:4vmin;
	width:400px;
	margin-left:auto;
}
.sec_wrap .info .intro_wrap .intro_item {
	display:flex;
	flex-direction:column;
	row-gap:2vmin;
}
.sec_wrap .info .intro_wrap .intro_item .title {
	position:relative;
	text-align:center;
	color:var(--c666);
	font-size:1.2em;
	font-weight:700;
}
.sec_wrap .info .intro_wrap .intro_item dl {
	display:inline-flex;
	flex-wrap: wrap;
	justify-content:center;
	row-gap:1vmin;
}
.sec_wrap .info .intro_wrap .intro_item dl  * {
	line-height:1.4;
}
.sec_wrap .info .intro_wrap .intro_item dl > * {
	flex-grow:1;
	flex-shrink:1;
	word-break:keep-all;
	padding-top:1vmin;
	border-top:1px solid var(--cccc);
	-webkit-transition:border .3s linear;
	transition:border .3s linear;
}
.sec_wrap .info .intro_wrap .intro_item dl > *:nth-last-child(-n+2) {
	padding-bottom:1vmin;
	border-bottom:1px solid var(--cccc);
	-webkit-transition:border .3s linear;
	transition:border .3s linear;
}
.sec_wrap .info .intro_wrap .intro_item dt {
	flex-basis:40%;
	color:var(--c666);
}
.sec_wrap .info .intro_wrap .intro_item dd {
	display:flex;
	flex-direction:column;
	row-gap:.5vmin;
	flex-basis:60%;
	padding-left:20px;
	text-align:left;
	color:var(--c666);
	font-weight:300;
}
.sec_wrap .info .intro_wrap .intro_item dd a {
	color:var(--c666);
}
/* Projects */
.sec_wrap .projects {
	padding: calc(var(--pad)*2 + 139px) calc(var(--pad)*2) calc(var(--pad)*2);
	text-align:right;
}
.sec_wrap .projects .sec_item{
	display:flex;
	justify-content:right;
}
.sec_wrap .projects dl {	
	max-width:calc(100% - 200px);
	word-break:keep-all;
	letter-spacing:-.5px;
}
.sec_wrap .projects dt {
	line-height:1;
	font-size:2em;
	font-weight:300;
}
.sec_wrap .projects dt a {
	display:inline-block;
	width:24px;
	height:30px;
	margin-left:4px;
	vertical-align:bottom;
}
.sec_wrap .projects dt i {
	display:block;
	height:30px;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-size:24px;
}
.sec_wrap .projects dt .ico_pc {
	background-image:url('../images/projects/ico_pc.png');
	-webkit-transition:background-image .3s linear;
	transition:background-image .3s linear;
}
.sec_wrap .projects dt .ico_mo {
	background-image:url('../images/projects/ico_mo.png');
	-webkit-transition:background-image .3s linear;
	transition:background-image .3s linear;
}
.is_dark .sec_wrap .projects dt .ico_pc {
	background-image:url('../images/projects/ico_pc_wh.png');
}
.is_dark .sec_wrap .projects dt .ico_mo {
	background-image:url('../images/projects/ico_mo_wh.png');
}
.sec_wrap .projects dd + dt {
	margin-top:5vmin;
}
.sec_wrap .projects dd {
	margin-top:2vmin;
}
.sec_wrap .projects ul li {
	margin-top:.5vmin;
	line-height:1.2;
	color:var(--c999);
	font-size:.867em;
	font-weight:300;
}
.sec_wrap .projects ul li.date {
	font-size:1.4em;
}

/* Contact */
.sec_wrap .contact {
	position:absolute;
	left:var(--pad);
	bottom:var(--pad);
	width:calc(100vw - var(--pad)*2);
	padding:calc(var(--pad)*2 + 139px) calc(var(--pad)) calc(var(--pad));
}
.sec_wrap .contact .sec_item {
	display:flex;
	width:100%;
	justify-content:space-between;
	align-items:end;
}
.sec_wrap .contact .contact_desc {
	text-align:left;
	line-height:1.8;
	font-size:1.4em;
}
.sec_wrap .contact .contact_address {
	display:flex;
	flex-direction:column;
	row-gap:3vmin;
}
.sec_wrap .contact .contact_address .title {
	padding-top:15px;
	border-top:1px solid var(--c333);
	color:var(--c666);
	font-size:1.067em;
	-webkit-transition:border .3s linear;
	transition:border .3s linear;
}
.sec_wrap .contact .contact_address .title:first-child {
	padding-top:0;
	border-top:0;
}
.sec_wrap .contact .contact_address a {
	font-size:2em;
	font-weight:300;
}

/* ========== // section ========== */

/* ========== Keyframes ========== */
@-webkit-keyframes bggradient {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes bggradient {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-webkit-keyframes noise {
    from {background-size: 100% 100%;}
	to {background-size: 200% 200%;}
}
@keyframes noise {
    from {background-size: 100% 100%;}
	to {background-size: 200% 200%;}
}
/* ========== // Keyframes ========== */
